ul {
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}

li {
  position: absolute;
  cursor: pointer;
  height: 40px; 
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  right: 0;
  transition: 0.7s ease;
}

li:nth-child(1n + 2) {
  opacity: 0;
}

.animate-1 {
  opacity: 1 !important;
  right: 100px;
}

.animate-2 {
  opacity: 1 !important;
  right: 200px;
}

.animate-3 {
  opacity: 1 !important;
  right: 300px;
}