@media (max-width: 709px) {
	#burger {
		display:  block !important;
	}

}
*{
	box-sizing: border-box;
}

body {
/*	background-color: black;*/
	margin: 0;
}

object {
	max-width: 400px;
    position: absolute;
    top: 50%;
    left: calc(50% - 200px);
}

.arrow-right {
	color: white;
	width: 50px;
	height: 100%;
	float: right;
}

.arrow-right:hover {
  opacity: .5;
}

.arrow-left {
	color: white;
	width: 50px;
	height: 100%;
	float: left;
	margin-left: 50px;
}

.arrow-left:hover {
  opacity: .5;
}


div.hero {
	background: url(../images/jen-pack-hawkes-bay_poolside2.jpg) no-repeat 90% 75%;
	color: red;
	background-size: cover; 
	height: 900px;
	width: 100%;
	height: 100vh;
	padding-top: 40px;
	color: #fff;
	text-align: center;
	margin: 0;
}

nav {
	letter-spacing: 0.1em;
	text-transform: uppercase;
	margin-right: 50px;
	position: relative;
}

/*Nav JS*/

ul {
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}

li {
  position: absolute;
  cursor: pointer;
  height: 40px; 
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  right: 0;
  transition: 0.7s ease;
}

li:nth-child(1n + 2) {
  opacity: 0;
  pointer-events: none;
}

.animate-1 {
  opacity: 1 !important;
  right: 80px;
  pointer-events: initial !important;
}

.animate-2 {
  opacity: 1 !important;
  right: 160px;
  pointer-events: initial !important;
}

.animate-3 {
  opacity: 1 !important;
  right: 230px;
	pointer-events: initial !important;
}

/*Nav JS*/

header.hero-2 {
	background: url(../images/Jen_pack_st_marys_bay_residence_wide_bedroom.jpg) no-repeat 90% 75%;
	background: url(../images/Image 13@2x.png) no-repeat 90% 75%;
	background-size: cover; 
	/*height: 900px;*/
	width: 100%;
	height: 100vh;
	padding-top: 40px;
	color: #fff;
	text-align: center;
	margin: 0;
}

header.hawkes-bay-wide1 {
	background: url(../images/jen-pack-hawkes-bay-wide-twilight.jpg) no-repeat 90% 75%;
	background-size: cover; 
	width: 100%;
	height: 100vh;
	padding-top: 40px;
	color: #fff;
	text-align: center;
	margin: 0;
}


footer {
	background-color: #a0a0a0;
    padding-bottom: 50px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jen-pack-logo-footer {
	width: 220px;
	padding-top: 50px;
}

.footer-elements {
	padding-top: 50px;
	display: inline-flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	padding: 20px;
}

.fa-instagram {
	color: white;
}

.icons {
	width: 22px;
	margin-left: 10px;

}

body {
	margin: 0;
}

a {
	text-decoration: none;
	color: white;
/*	letter-spacing: 0.9rem;*/
}

a:hover {
	text-decoration: none!important;
	font-weight: bolder;
	color:none;
}



p {
	font-size: .9em;
	font-family: 'Brown';
	font-weight: 200;
	line-height: 1.6rem;
	text-align: center;
	color: white;
	margin-top: 2rem !important;

}

.body-copy {
	padding-top: 15px;
	padding-bottom: 15px;
}

.heading {
	padding-top: 15px;
	padding-bottom: 15px;
}

.sub-heading {
	padding-top: 15px;
	padding-bottom: 15px;
}

p.body-copy {
	width: 400px;
	font-size: .9em;
	font-family: 'brown';
	font-weight: 200;
	line-height: 1.6rem;
	text-align: center;
	color: #A0A0A0;

}


h2 {
	font-family: 'brown';
	text-transform: uppercase;
	font-size: 1.2rem;
	letter-spacing: 0.2rem;
	color: #A0A0A0;
	font-weight: 300;
}

h3 {
	font-family: 'brown';
	font-size: 1.0rem;
	color: #A0A0A0;
	font-weight: 200;
}

h4 {
	font-family: 'brown';
	font-size: 1.0rem;
	color: #fff;
	font-weight: 400;
	text-transform: uppercase;
}

h4.tile-title {
	margin-bottom: 10px;
}

.overlay-button {
	padding: 10px;
	background-color: transparent;
	font-family: 'brown';
	text-transform: uppercase;
 	border: 1px solid white;
	letter-spacing: .1rem;
	color: white!important;
}

.button-link {
	padding: 10px;
	background-color: transparent;
	font-family: 'brown';
	text-transform: uppercase;
	letter-spacing: .1rem;
	color: white!important;
}

.button-link:hover {
	color: #f8f8f8;
}


p.tile-name {
	font-size: .9em;
	font-family: 'Brown';
	font-weight: 200;
	line-height: 1.6rem;
	text-align: center;
	color: white;
	margin: 0!important;
}

.tile-name {
	margin:0;
	padding-bottom: 20px;
}


.jen-pack-logo {
	margin-left: 50px;
	width: 220px;
	margin-top: 30px;
	margin-left: 50px;

	
}

.project-description {
	flex-direction: column;
}

#burger {
	display: none;
	margin-top: auto;
	margin-right: -150px;
}




/*slider */


/*.container{
	background: no-repeat 90% 75%;
	background-size: cover; 
	margin:0 auto;
}*/

.slider {
  // display:flex;
  .slides{
    // display:flex;
    flex-direction: row;
    // justify-content:center;
  }
}

.slides {
	position: relative;
 	height: 100vh;

}

.slick-next {
	position: absolute;
	right: 0;
	top: 0;
	height: 100vh;
	width: 49%;
	z-index: 99;
}

.slick-prev {
	position: absolute;
	left: 0;
	top: 0;
	height: 100vh;
	width: 49%;
	z-index: 99;
}

.progress-bar {
	width: 0%;
	opacity: 0.7;
	height: 5px;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: white;
	z-index: 999;
	transition: width 0s;
}

.progress-bar.active {
	width: 100%;
	transition: width 3s;
	transition-timing-function: linear;
}

@media (max-width: 767px) {
	.slick-arrow {
		display: none !important;
	}
}


.slides-1 { 
	background: url(../images/jen-pack-hawkes-bay_poolside2.jpg) no-repeat 90% 75%;
	color: red;
	background-size: cover; 
	height: 900px;
	width: 100%;
	height: 100vh;
	padding-top: 40px;
	color: #fff;
	text-align: center;
	margin: 0;
}

.slides-2 { 
	background: url(../images/JenPackDecorator_Onetangi.jpg) no-repeat 90% 75%;
	color: red;
	background-size: cover; 
	height: 900px;
	width: 100%;
	height: 100vh;
	padding-top: 40px;
	color: #fff;
	text-align: center;
	margin: 0;
}

.slides-3 { 
	background: url(../images/Jen_pack_Wanaka1.jpg) no-repeat 90% 75%;
	color: red;
	background-size: cover; 
	height: 900px;
	width: 100%;
	height: 100vh;
	padding-top: 40px;
	color: #fff;
	text-align: center;
	margin: 0;
}

.slides-3 { 
	background: url(../images/jen-pack-blackbarn-black-barn_1.jpg) no-repeat 90% 75%;
	color: red;
	background-size: cover; 
	height: 900px;
	width: 100%;
	height: 100vh;
	padding-top: 40px;
	color: #fff;
	text-align: center;
	margin: 0;
}

.slides-4 { 
	background: url(../images/Jen_pack_Wanaka2.jpg) no-repeat 90% 75%;
	color: red;
	background-size: cover; 
	height: 900px;
	width: 100%;
	height: 100vh;
	padding-top: 40px;
	color: #fff;
	text-align: center;
	margin: 0;
}

.slides-5 { 
	background: url(../images/Jen_pack_Stheliers1.jpg) no-repeat 90% 75%;
	color: red;
	background-size: cover; 
	height: 900px;
	width: 100%;
	height: 100vh;
	padding-top: 40px;
	color: #fff;
	text-align: center;
	margin: 0;
}

.slides-6 { 
	background: url(../images/Image-67.png) no-repeat 90% 75%;
	color: red;
	background-size: cover; 
	height: 900px;
	width: 100%;
	height: 100vh;
	padding-top: 40px;
	color: #fff;
	text-align: center;
	margin: 0;
}

/*slider */

.burger {
	display: none;
	color: grey;
}

@media only screen and (max-width: 600px) {

	.burger {
		display: inline;

	}
}



header.main {
	background-color: #2a4557;
	padding:10px 0;
	color: #000;
}

.flex-header {
	width: 100%;
	max-width: 1200px;
	padding: 0 px;
	margin:0 auto; 
	display: flex;
	/*justify-content: space-between;
	align-items: center;
	*/
	flex-direction: row-reverse;
}

span {
	padding-top: 15px;
	padding-bottom: 10px;
	border-top: solid 2px;
}


.header-index {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	display: flex;
	justify-content: space-between;
	padding-top: 30px;
}

/*<<< PAGE TWO >>>>*/

header.project-header {
		width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;	
	padding-top: 30px;
/*	padding-right: 50px;
*/	color: white;
	z-index: 99;
}

/*@media only screen and (max-width: 700px) {
	.project-header {
		padding-top: 0!important;
	}
}
*/
header.nav-banner {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;	
	padding-top: 30px;
/*	padding-right: 50px;
*/	color: white;
}

section.project-details {
	display: flex;
	background-color: #f8f8f8;
	align-items: center;
	justify-content: center;
}

div.project-name {
	background: url(../images/Jen_pack_st_marys_bay_residence_bedroom.jpg) no-repeat center center;
	width: 50%;
	height: inherit;
	background-size: cover;
/*	box-sizing: border-box;
*/}

div.text-only {
	width: 50%;
	height: inherit;
	flex-direction: column;
	display: flex;
	align-items: center;
}


@media {
	.text-only {
		padding-bottom: 150px;
		padding-top: 150px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}


div.st-marys-twilight {
	background: url(../images/Jen_pack_st_marys_bay_residence_1.jpg) no-repeat center center;
	background-size: cover;
	height: 100vh;
	width: 50%;
	padding:1px;
}

div.st-marys-full-width {
	background: url(../images/Jen_pack_st_marys_bay_residence_1.jpg) no-repeat center center;
	background-size: cover;
	height: 100vh;
	width: 50%;
	padding:1px;
}

div.hawkes-bay-1 {
	background: url(../images/jen-pack-hawkes-bay_poolside1.jpg) no-repeat center center;
	background-size: cover;
	height: 100vh;
	width: 50%;
	padding:1px;
}

div.half-hero {
	background: url(../images/Jen_pack_st_marys_bay_residence_bathroom.jpg) no-repeat center center;
	background-size: cover;
	height: 100vh;
	width: 50%;
	padding:1px;
  	border:100px solid #f8f8f8;
/*	box-sizing: border-box;
*/
}

div.st-marys-bay-bathroom {
	background: url(../images/Jen_pack_st_marys_bay_residence_bathroom.jpg) no-repeat center center;
	background-size: cover;
	height: 100vh;
	width: 50%;
	padding:1px;
  	border:120px solid #e4d9c6;
/*	box-sizing: border-box;
*/
}

div.st-marys-bay-bedroom {
	background: url(../images/Jen_pack_st_marys_bay_residence_bedroom.jpg) no-repeat center center;
	background-size: cover;
	height: 100vh;
/*	width: 50%;*/
	padding:1px;
/*	box-sizing: border-box;
*/
}


section.row {
	display: flex;
	background-color: #f8f8f8;
}

div.wide-image {
	background: url(../images/Jen_pack_st_marys_bay_residence_wide_bedroom.jpg) no-repeat center center;
	width: 100%;
	height: inherit;
	background-size: cover;
}


/*// contents page //*/


#block-1 {
		width: 25%;
		height: 400px;
		position: relative;
		object-fit: fill;
		color: #fff;
		z-index: 1;
		transition: all 0.2s ease;
		cursor: pointer;
		display: inline-block;
		top: 200px;
		left: 150px;
}

#block-1:after {
		content: ' ';
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, .6);
		z-index: -1;
		transition: all 0.5s ease 0s;
}

#block-1:hover:after {
		background-color: rgba(0, 0, 0, 0);
}

.content {
		display: block;
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
}

p.intro {
	text-transform: uppercase;
	font-weight: 200;
	letter-spacing: 0.2rem;
	font-size: 1.1rem;
	color: none;
}

.btn {
	font-family: 'Brown';
	border-top: none;
	font-size: .8rem;
}

.project-tile {
	display: block;
	 width: 100%;
}

.tile-text {
	display: block;
	position: absolute;
	float: center;
}

.image-box {
  position:relative;
}

.overlay {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.4);
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  color:white;
  opacity:0;
  transition:opacity 0.4s;
  margin:0;
  padding: 10px;
}



.grid-container {
	max-width: 1202px;
	margin:0 auto;
}

.grid {
/*  background: #DDD;
*/max-width: 1200px;
  width:100%;
  margin: 0 auto;
  padding-top:120px;
  padding-bottom: 10%;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
	background-size: cover;
  float: left;
  width: 25%;
  padding-bottom: 25%;
  position: relative;
/*  width: 250px;
  height: 300px;*/
  /*background: #C09;*/
  /*border: 2px solid hsla(0, 0%, 0%, 0.5);*/
  border: solid 10px white;
  background-size: cover !important;
  text-align: center;
}

.grid-item:hover .overlay {
  opacity:1;
}

.grid-item:nth-child(1){
	background:url(../images/jen-pack-hereford-house.JPG) no-repeat center center;
}

.grid-item:nth-child(2){
	background:url(../images/Image%2024.png) no-repeat center center;
}

.grid-item:nth-child(3){
	background:url(../images/jen-pack-matarangi-holiday-home_2.png) no-repeat center center;
}
@media (max-width: 991px) {
	.grid-item:nth-child(3){
		width: 66%;
	}

}

.grid-item:nth-child(4){
	background:url(../images/Jen_pack_Parnell1.jpg) no-repeat center center;
}

.grid-item:nth-child(5){
	background:url(../images/Jen_pack_st_marys_bay_residence_1.jpg) no-repeat center center;
}

.grid-item:nth-child(6){
	background:url(../images/jen-pack-hawkes-bay_poolside2.jpg) no-repeat center center;
}

.grid-item:nth-child(7){
	background:url(../images/Jen_pack_Wanaka6.jpg) no-repeat center center;
}

.grid-item:nth-child(8){
	background:url(../images/jen-pack-waiheke-island_narrow.png) no-repeat center center;
}

.grid-item:nth-child(9){
	background:url(../images/Jen_pack_Stheliers1.jpg) no-repeat center center;
}

.grid-item:nth-child(10){
	background:url(../images/jen-pack-blackbarn-beach-house_1.jpg) no-repeat center center;
}

.grid-item:nth-child(11){
	background:url(../images/SumichChaplinArchitects_Onetangi_21-800x1203.jpg) no-repeat center center;
}

.grid-item:nth-child(12){
	background:url(../images/jen-pack-blackbarn-black-barn_1.jpg) no-repeat center center;
}

.grid-item--width2 { 
/*	width: 450px; 
*/	width: 50%;
 	background-size: cover;
}

.mobile-menu {
	display: none;
}

@media only screen and (max-width: 700px) {
	.mobile-menu {
		display: none;
		height: 100vh;
		width: 100vw;
		background-color: #a0a0a0;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 99;
		align-items: center;
		justify-content: space-around;
	}

	.mobile-menu.open{
		display: flex;	
}
	
	
	.mobile-menu p {
		text-align: center;
	}
	#menu-button {
		display: none;
	}

	.desktop-menu {
		display: none;
	}
	#burger {
		display: block;
	}
	
}

@media (max-width: 991px) {
	.grid-item {
  		width: 33%;
  		padding-bottom: 33%;
  	}
	.grid-item--width2 { 
		width: 66%;
	}
	#burger {
		color: red;
	}

}


@media only screen and (max-width: 1200px) {
	.grid {
		max-width: 1000px;
		padding-top: 120px;
	}
}

@media only screen and (max-width: 1100px) {
	.grid {
		max-width: 800px;
	}
}

/*@media only screen and (max-width: 1100px) {
	.grid {
		padding-left: 20px;
	}
}*/



#burger {
	color: black;
}

/*@media only screen and (min-width: 700px) {
	#burger {
		display: 
	}*/


