<head>

		<title>Jen Pack Decorator</title>

			<meta charset="UTF-8">


			<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0"> 


		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		
		<link rel="stylesheet" href="css/styles.css">

			<script
		  src="https://code.jquery.com/jquery-3.4.1.min.js"
		  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		  crossorigin="anonymous"></script>
			
			</style>


	</head>

	<body>
	

	<div class="mobile-menu">
			<div>
			      <p><a href="jp-contact-page.html"> CONTACT</a></p>

			      <p><a href="jp-about-page.html">ABOUT</a></p>
			
			      <p><a href="jenpack_website_homes.html">HOMES</a></p>
				
			</div>

		</div>

		<header class="project-header">

				<a href="index.html">
					<img src="images/Jen-Pack-Decorator_Logo-white.svg" class="jen-pack-logo">
				</a>

			<div id="burger" style= "color:white" onclick="toggleMenu()">☰</div>

			<nav>
					 
					  <ul>
					    <li id="menu-button">
					      <p>MENU</p>
					    
					    </li>
					    <li id="contact">
					      <p><a href="jp-contact-page.html"> CONTACT</a></p>
					    
					    </li>
					    <li id="about">
					      <p><a href="jp-about-page.html">ABOUT</a></p>
					   
					    </li>
					  	<li id="home">
					      <p><a href="jenpack_website_homes.html">HOMES</a></p>
					    
					    </li>
					  </ul>
					
					</nav>



		</header>

		<section class="project-details row">


			<div class="st-marys-bay-bedroom col-12 col-sm-6">
				<a href="jenpack_website_project page1.html">
					<img src="images/arrow-left-white-04.svg" class="arrow-left">
				</a>
			</div>


			<div class="st-marys-bay-bathroom col-12 col-sm-6">
				<a href="jenpack_website_project page3.html">
				<img src="images/arrow-right-white-01.svg" class="arrow-right" style="transform: translate(60px);">
				</a>
			</div>

		</section>

		<script src="js/menu.js"></script>

	</body>

</html>
